{{#this}}
    <li data-sensorid="{{sensor.sensor_id}}">
        <a class="view-button" href="#view" data-rel="popup" data-position-to="window">
            <img src="{{#if sensor.enabled}}{{#if sensor.tripped}}img/danger.png{{else}}img/check.png{{/if}}{{else}}img/disabled.png{{/if}}"/>
            <h3>{{sensor.name}}</h3>
            <p>{{sensor.sensor_id}}</p>
        </a>
        <a class="edit-gear" href="#edit"></a>
    </li>
{{/this}}
