<h1>Sensor List</h1>


<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Enabled</td>
    <td>Tripped</td>
    <td>Client_APID</td>
  </tr>
  <% @sensors.each do |s| %>
      <tr>
        <td><%= s.sensor_id %></td>
        <td><%= s.name %></td>
        <td><%= s.enabled %></td>
        <td><%= s.tripped %></td>
        <td><%= s.client_apid %></td>
      </tr>
  <% end %>
</table>
